<br>
<h2 class="text-center">Sign up</h2>
 <% content_for :title, "GameOn - sign up!" %>
<div class="wrapper-form">
<div class="form">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :photo, as: :attachinary %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "Sign up", class: 'navbar-wagon-button' %>
    <br>
    <br>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


</div>
</div>
</div>
