<h1>Add a new venue</h1>
<%= simple_form_for(@space) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :category, collection: ["Squash", "Basketball", "Football", "Tennis"], prompt: "Choose your sport" %>
  <%= f.input :address %>
  <%= f.input :price_per_hour %>
  <%= f.input :photos, as: :attachinary %>

  <%= f.button :submit %>
<% end %>
