<<<<<<< HEAD
<div class="container">
  <div class="container">
    <div class="row">
      <div class="card-space col-xs-12 col-lg-7">
        <h1><%= @space.name %></h1>
        <p><strong>Location:</strong> <em><%= @space.address %></em></p>
        <p>Facility: <em><%= @space.category %></em></p>
      </div>
      <div class="card-space col-xs-12 col-lg-5">
        <p>Price per hour: £<%= @space.price_per_hour %></p>
        <p>Make a Booking:</p>
        <%= render 'shared/new_booking', space: @space, booking: @booking %>
      </div>
      <div class="card-space col-xs-12 col-lg-7">
        <h5>Description: @space.description </h5>
      </div>
    </div>
  </div>





</div>

