<%# if false &&  %>

<%if current_user == @user %>
  <% content_for :title, "GameOn - Your Booking" %>
  <div class="container-bookings add-margins">
    <h3>You have requested booking:</h3>
    <%= render 'shared/booking_space_details', space: @space, booking: @booking %>
    <%= render 'shared/booking_owner_details', owner: @owner %>
    </div>

<% elsif current_user == @owner %>
  <div class="container-bookings add-margins">

  <% if booking.confirmed %>
    <h3>Booking confirmed:</h3>
  <% else %>
    <h3> Confirm the following:</h3>
  <% end %>

  <%= render 'shared/booking_space_details', space: @space, booking: @booking %>
  <%= render 'shared/booking_user_details', user: @user %>
  <br>
  <% if @booking.confirmed %>
    <% content_for :title, "GameOn - Your Space Booked" %>
  <% else %>
    <% content_for :title, "GameOn - Confirm Booking" %>
    <br>
    <%= link_to "Confirm", confirm_booking_path(@booking), method: :patch, class:"btn btn-success" %>
    <%= link_to "Reject",  space_booking_path(@space, @booking), method: :delete, class:"btn btn-danger" %>
  <% end %>
  </div>

<% end %>

<!-- space_booking DELETE   /spaces/:space_id/bookings/:id(.:format)      bookings#destroy -->
