<% content_for :title, "GameOn - #{@user.first_name} #{@user.last_name} profile" %>

<div class="row">
  <div class="col-sm-3">
    <div class="profile-user-info">
      <div>
        <% if @user.photo %>
          <%= cl_image_tag @user.photo.path, transformation: [{width: 250, height: 250, gravity: 'face', radius: 'max', crop: 'thumb'}, {width: 100}], class: "avatar-large profile-user-info-avatar" %>
        <% elsif @user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class: "avatar-large profile-user-info-avatar" %>
        <% else %>
          <%= image_tag "blank-avatar.png", class: "avatar-large profile-user-info-avatar" %>
        <% end %>
      </div>
      <div>
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      </div>
      <div>
        <p><em>Member since <%= I18n.l(@user.created_at, format: "%B %Y") %></em></p>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-7">
    <div class="profile-user-about">
      <div class="box-banner">
        <h4>My Bookings</h4>
      </div>
    </div>
  </div>
</div>










