
<div class="home-banner"">
  <div class="banner-content">
    <div id="presentation">
      <h1>SEARCH. BOOK. PLAY.</h1>
      <p>Book a sport venue around you in a few clicks</p>
    </div>
    <div class="list-inline">
      <%= form_tag spaces_path, method: "get", class: "form-inline" do %>
      <div class="form-group home-search-form">
        <%= select_tag :category, options_for_select([["Football"], ["Basketball"], ["Tennis"], ["Squash"]]), class: "form-control input-lg", prompt: "Choose a sport" %>
      </div>
      <div class="form-group home-search-form">
        <%= text_field_tag(:location, "", class: "form-control input-lg", id: "location", placeholder: "Choose a location") %>
      </div>
      <div class="form-group home-search-form">
        <button type="submit" class="btn btn-lg search-btn">Search</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="home-concept">
  <div class="concept-content">
    <div class="concept-flex">
      <%= image_tag "Search.png", width: "70px" %>
      <h4>Search</h4>
      <p>Find a sports venue near you</p>
    </div>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <div class="concept-flex">
      <%= image_tag "Book.png", width: "70px" %>
      <h4>Book</h4>
      <p>Book in a few clicks</p>
    </div>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <div class="concept-flex">
      <%= image_tag "Play.png", width: "70px" %>
      <h4>Play</h4>
      <p>Enjoy your favorite sports</p>

    </div>
  </div>
</div>


