<div class="banner" style="background-image: url(<%= image_path('tennis-background.jpg') %>)">
  <div class="banner-content">
    <h1>SEARCH. BOOK. PLAY.</h1>
    <p>Very cool stuff, useful and smart</p>
    <%= simple_form_for(@space) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :stars %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>
